/* part A */
.head{
    margin: 0;
    font-family: sans-serif;
    background-color: #292E36;
    color: #fff8f5;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding: 50px 50px;
}
.call{
    background-color: #292E36;
    color: #fff8f5;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    border: #E1B168 solid;
    padding: 10px 10px;
    margin-top: 15px;
    
}
.cart{
    height: 25px;
    width: 25px;
    padding-left: 10px;
}
.btn-reserve{
    background-color: #E1B168;
    border-radius: 5PX;
    border: none;
    padding: 10px 10px;
    margin-top: 30px;

}
.nav{
    border: #fff8f5 solid;
    padding: 5px 1px;
    
}
.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff8f5;
    font-weight: 100px;
    gap: 2px;

}
.navbar li a{
    display: flex;
    color: #fff8f5;
    list-style: none;
    text-decoration: none;
    justify-items: center;
    justify-content: space-between;
}
.booking h2{
    text-align: center;
    padding: 30px 30px;
}
/* part b */
*{
  margin: 0;
  padding: 0;
}
.labels {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #000000;
}

.labels h5 {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.labels h2 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.labels p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #000000;
}

/* Reservation Section */
.reservation {
  padding: 60px 10%;
  background-color: #fff;
}

.reservation-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.reservation-form {
  flex: 1;
  min-width: 300px;
  
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
  
}

input {
  padding: 10px;
  border: 1px solid #6b6969;
  outline: none;
  transition: border 0.3s ease;
}

input:focus {
  border: 1px solid #E1B168;
}

button {
  background-color: transparent;
  border: 1px solid #E1B168;
  color: #E1B168;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #E1B168;
  color: #fff;
}

.reservation-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

/* Why Choose Us Section */
.why-us {
  padding: 60px 10%;
  background-color: #fff8f5;
}

.why-us-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.why-us-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.why-us-content {
  flex: 1;
  min-width: 300px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feature {
  padding: 10px 15px;
  border: 1px solid #5e5c5c;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #fafafa;
  margin-bottom: 20px;
}

/* PART C */
.footer {
  background-color: #1a1c22;
  color: #fff;
  padding: 50px 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  gap: 40px;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}
.footer-contact{
  margin-top: 60px;
}

.footer-heading {
  font-size: 16px;
  margin-bottom: 40px;
  color: #b0b0b0;
  margin-top: 5px;
}

.footer-subheading {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #b0b0b0;
}

.highlight {
  color: #eab35b;
  font-weight: bold;
}

.highlight-day {
  color: #eab35b;
  font-weight: normal;
}

.footer-center {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.footer-logo {
  height: 120px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.subscribe-form input {
  background-color: transparent;
  padding: 10px;
  width: 200px;
  border: none;
  outline: none;
  font-family: inherit;
  color: #fff;
  border: 1px solid#f8f8f8;
  margin-top: 1px;

}

.subscribe-form button {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  
}
.subscribe-form input::placeholder{
  color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons img {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  color: #b0b0b0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Copyright{
  padding-right: 200px;
}
.footer-bottom .highlight {
  color: #eab35b;
}

.footer-bottom a {
  color: #b0b0b0;
  text-decoration: none;
  margin: 0 5px;
}
.working-hours{
    margin-top: 50px;
    padding-left: 110px;
}